.payment-method.active {
    border: 2px solid green;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}

.payment-method:hover {
    border: 2px solid green;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}