/* Container for the login form */
.login-container {
    margin: 0 auto 52px;
    max-width: 400px;
    background-color: var(--primary-background-color); /* Soft cream background */
    color: #4B2E2F; /* Darker brown text */
    border-radius: 10px;
    padding: 5%;
}

/* Login button styling */
.login-container .btn-dark {
    background-color: var(--button-bg-color);
    border: none;
}

.login-container .btn-dark:hover {
    background-color: var(--button-hover-color);
}

/* Form label styling */
.login-container .form-label {
    color: #4B2E2F;
}

/* Links styling */
.login-container a {
    color: #4B2E2F;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
